

*{
	margin: 0;
	padding: 0;
}
body{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #999;
}
div.container {
	margin-top: 25vh;
      border: 5px solid #00ffff;
      padding: 20px 20px;
	  background-color: #000;
}
 h1{
	color: #00ffff;
    text-align: center;
    padding: 10px;
}
hr {
    margin: 10px 0;
}

body > main{
    margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0px;
}
#op-block-head{
	display: flex;
	align-items: center;
	text-align: center;
}
#op-block-head > span{
	padding: 7px 18px;

	border-top: 2px solid rgb(255, 255, 255, 0.25);
	border-bottom: 2px solid rgb(255, 255, 255, 0.25);

	color: pink;
	font-size: 20px;
	font-weight: 600;
}
#op-block-head > span:first-child{
	border-left: 2px solid rgb(255, 255, 255, 0.25);
}
#op-block-head > span:last-child{
	border-right: 2px solid rgb(255, 255, 255, 0.25);
}


#op-block-items{
	display: flex;
	flex-direction: column;
	color: rgb(255, 255, 255, 0.75);
}
.row{
	display: flex;

	border-right: 2px solid rgb(255, 255, 255, 0.25);
	border-bottom: 2px solid rgb(255, 255, 255, 0.25);
	border-left: 2px solid rgb(255, 255, 255, 0.25);
}
.row > span{
	padding: 7px 18px;
}
#op-block-head > span:nth-child(1){
	width: 40px;
}
.row > span:nth-child(1){
	width: 40px;
	display: inline-block;
	text-align: center;
}
#op-block-head > span:nth-child(2){
	width: 55px;
}
.row > span:nth-child(2){
	width: 55px;
	display: inline-block;
	text-align: center;
}
#op-block-head > span:nth-child(3){
	width: 65px;
}
.row > span:nth-child(3){
	width: 65px;
	display: inline-block;
	text-align: center;
}
#op-block-head > span:nth-child(4){
	width: 65px;
}
.row > span:nth-child(4){
	width: 65px;
	display: inline-block;
	text-align: center;
}
#btn-change{
	margin-top: 20px;
	padding: 10px 20px;
	background-color: transparent;
	border: 2px solid #00ffff;
	border-radius: 20px;
	color: white;
	cursor: pointer;
}
#btn-change:active{
	transform: scale(1.05);
}